@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.home-header-text{
    text-align: center;
    font-family:Open sans ;
    font-weight: 500;
}


.home-container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;


}


.home-container p{
font-family: Roboto;
text-align: center;
width: 50%;

}

@media screen and (max-width: 1300px) {
   .home-container p{
font-family: Roboto;
text-align: center;
width: 90%;

} 
}